---
import Default from "@astrojs/starlight/components/Footer.astro";
import { Icon } from "@astrojs/starlight/components";
import {getEntry} from "astro:content";
---

<Default><slot /></Default>
<div>
    <p class="footer-item" dir={Astro.locals.t.dir()}>
        {Astro.locals.t("footer.title", { year: new Date().getFullYear() })}
        <Icon name="starlight" class="icon" />
        <a href="https://starlight.astro.build/" target="_blank">Starlight</a>.
    </p>
    <p class="footer-item muted">
        {Astro.locals.t("footer.subtitle")}
    </p>
    <p class="footer-item muted">
        <a href="https://timolia.de/imprint">
            {Astro.locals.t("footer.imprint")}
        </a>
    </p>
</div>

<style>
    .footer-item {
        text-align: center;
        font-size: var(--sl-text-2xs);
        color: var(--sl-color-gray-2);
        margin-bottom: 0.25rem;
    }

    .footer-item a:not(:hover) {
        text-decoration: none;
    }

    .icon {
        color: var(--sl-color-orange);
    }

    .muted {
        color: var(--sl-color-gray-3);
    }
</style>