.sl-markdown-content img:not(:where(.not-content *)) {
    margin: 0 auto;
}
.sl-markdown-content img:not(:where(.not-content *)):not([alt="Diagram"]) {
    width: 100%;
}
/* except when we want them inline */
.sl-markdown-content :is(img.img-inline, .img-inline img) {
    margin: 0;
    width: auto;
}
.sl-markdown-content img.img-inline {
    display: inline-block;
}
.sl-markdown-content :is(img.img-inline-center, .img-inline-center img) {
    width: auto;
}

/* use custom font first instead of system */
.sl-badge {
    font-family: var(--__sl-font-mono);
}

.hero > img {
    width: min(70%, 20rem);
}

/* make index page hero smaller vertically */
@media (min-width: 50rem) {
    .hero {
        padding-block: clamp(2.5rem, calc(1rem + 2.5vmin), 10rem);
    }
}

/* fix too large TOC on large screens */
@media (min-width: 96rem) {
    :root {
        --sl-content-width: 64rem;
    }
}

/* magic */
@view-transition {
    navigation: auto;
}